<h2>My Products</h2>
<table>
	<tr>
		<td>
			<div *ngFor="let product of products; index as productId">
				<h3>
					<!--property binding [ ] lets you use the property value in a template expression. -->
					<a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
						{{ product.name }}
					</a>
				</h3>
			
				<p *ngIf="product.description">
					Description: {{ product.description }}
				</p>
				<!-- Event binding uses a set of parentheses, ( ), around the event, as in the following <button> element: -->
				<button (click)="share()">
					Share
			  </button>
			
				<app-product-alerts [product]=product
					  (notify)="onNotify()">
				</app-product-alerts>
			
			</div>
		</td>
		<td>
			<div>
				<a  routerLink="/fav" class="button fancy-button">Favorites Items</a>
			</div>
		</td>
	</tr>
</table>



<!--
 <app-fav-module></app-fav-module> 
-->

